html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: #F0F0F0;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    font-weight: 700;
}
@mixin border {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    border-right: 3px solid #000;
    box-sizing: border-box;
}
@mixin leftBorderFix {
    border-left: 3px solid #000;
    box-sizing: border-box;
}
@mixin centerElements {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear{
    clear: both;
}
#wrapper{
    width: 1280px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0 85px;
    .title{
        font-size: 40px;
        height: 60px;
        h1{
            margin-bottom: 8px;
        }
    }
    .info{
        margin-left: 27px;
        @include leftBorderFix();
    }
    margin-top: 53px
}
#location{
    @include border();
    @include leftBorderFix();
    width: 350px;
    height: 56px;
}
.info ul li{
    list-style-type: none;
    float: left;
    width: 121.67px;
    // margin-left: -4px;
    font-size: 16px;
    
    .val{
        @include border();
        height: 56px;
        // padding: 0.02px;
        border-bottom: none;
        line-height: 56px;
    }
    .text{
        @include border();
        height: 56px;
        // line-height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.seperater{
    margin: 0 85px;
    width: 1280px - 170px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .loc{
        width: 10%;
        font-size: 36px;
    }
    .update-time{
        text-align: center;
    }
}
main{
    margin: 0 85px;
    display: flex;
    justify-content: space-around;
}
.detail-panel{
    width: 350px;
    float: left;
    @include border();
    @include leftBorderFix();
    .current-area{
        width: 50%;
        float: left;
        font-size: 36px;
    }
    .current-AQI{
        width: 50%;
        float: left;
        font-size: 36px;
        @include leftBorderFix();
    }
    .general-info{
        line-height: 97px;
        border-bottom: 3px solid #000;
    }
}
.areass{
    float: left;
    margin-left: 30px;
}
.property{ 
    
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    &:last-child{
        border-bottom: none;
    }
    .name{
        margin: 20px 0;
        font-size: 24px;
    }
    .unit{
        margin: 10px 0;
        font-size: 16px;
        align-self: flex-end;
        font-weight: 300;
    }
    .val{
        margin: 20px 0;
        font-size: 24px;
        text-align: right;
        align-self: flex-end;
        flex-grow: 1;
    }
}
.areas{
    width: 930px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    .area-info{
        @include border();
        @include leftBorderFix();
        width: 350px;
        height: 97px;
        margin-left: 30px;
        .name{
            width: 50%;
            height: 100%;
            float: left;
            font-size: 36px;
            line-height: 97px;
        }
        .AQI{
            width: 50%;
            height: 100%;
            float: left;
            font-size: 36px;
            line-height: 91px;
            @include leftBorderFix();
        }
    }
}
.good{
    background-color: #95F084;
}
.normal{
    background-color: #FFE695;
}
.sensitive{
    background-color: #FFAF6A;
}
.unhealth{
    background-color: #FF5757;
}
.badhealth{
    background-color: #9777FF;
}
.danger{
    background-color: #AD1774;
}