<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>5F</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.min.js'></script>
    <script src="./asserts/js/all.js" defer></script>
    <link rel="stylesheet" href="./asserts/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113939847-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113939847-1');
</script>

</head>
<body>
    <div id="wrapper">
    <header>
        <div class="title">
            <h1>空氣品質指標(AQI)</h1>
            <select v-on:change="changeCity" v-model="currentCity" id="location">
                
            </select>
        </div>
        <div class="info">
            <ul>
                <li>
                    <p class="val good">0～50</p>
                    <p class="text">良好</p>
                </li>
                <li>
                    <p class="val normal">51～100</p>
                    <p class="text">普通</p>
                </li>
                <li>
                    <p class="val sensitive">101～150</p>
                    <p class="text">對敏感族群<br>不健康</p>
                </li>
                <li>
                    <p class="val unhealth">151～200</p>
                    <p class="text">對所有族群<br>不健康</p>
                </li>
                <li>
                    <p class="val badhealth">201～300</p>
                    <p class="text">非常不健康</p>
                </li>
                <li>
                    <p class="val danger">301～400</p>
                    <p class="text">危害</p>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </header>
        <div class="seperater">
            <h2 class="loc">{{ currentCity }}</h2>
            <svg width="70%" height="54px"> 
                <line x1="0" y1="50%" x2="100%  " y2="50%" stroke="black"
          stroke-dasharray="4" />
            </svg>
            <p class="update-time">
                {{PublishTime}} 更新
            </p>
        </div>
    <main>
        <div class="detail-panel">
            <div class="general-info">
                <h3 class="current-area">{{currentSite}}</h3>
                <h3 class="current-AQI">{{AQI}}</h3>
                <div class="clear"></div>
            </div>
            
            <div class="property">
                <p class="name">臭氧<span class="unit">O3 (ppb)</span></p>
                <p class="val">{{O3}}</p>
                <div class="clear"></div>
            </div>
            
            <div class="property">
                <p class="name">懸浮微粒<span class="unit">PM10 (μg/m³)</span></p>
                <p class="val">{{PM10}}</p>
                <div class="clear"></div>
            </div>
            <div class="property">
                <p class="name">細懸浮微粒<span class="unit">PM2.5 (μg/m³)</span></p>
                <p class="val">{{PM2dot5}}</p>
                <div class="clear"></div>
            </div>
            <div class="property">
                <p class="name">一氧化碳<span class="unit">CO (ppm)</span></p>
                <p class="val">{{CO}}</p>
                <div class="clear"></div>
            </div>
            <div class="property">
                <p class="name">二氧化硫<span class="unit">SO2 (ppb)</span></p>
                <p class="val">{{SO2}}</p>
                <div class="clear"></div>
            </div>
            <div class="property">
                <p class="name">二氧化氮<span class="unit">NO2 (ppb)</span></p>
                <p class="val">{{NO2}}</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="areas">
            <div v-for="ele in selectedSite" class="area-info" v-on:click="changeSite">

                    <h3 class="name" v-bind:class="ele.color">{{ele.name}}</h3>
                    <h3 class="AQI " >{{ele.AQI}}</h3>
                    <div class="clear"></div>
                    
                </div>
            
        </div>
        <div class="clear"></div>
    </main>
    </div>
    <footer>
        <p class="resource">資料來源：行政院環境保護署</p>
        <p class="licence">Copyright © 2019 HexSchool. All rights reserved.</p>
    </footer>
</body>
</html>